/* Basic Setup */
body {
	margin: 0px;
	padding: 0px;
	background: #15384C;
	font-family: 'Roboto', sans-serif;
	color: #545454;
}

h1 {
	margin: 0;
	font-size: 50px;
	font-weight: 300;
	color: #FFFFFF;
}

h2 {
	margin: 0;
	font-weight: 300;
	font-size: 35px;
	color: #00A388;
	padding: 0px 0px 10px 0px;
}

h3 {
	margin: 0;
	font-weight: 600;
	font-size: 18px;
	color: #15384C;
	padding: 0px 0px 10px 0px;
}

ul {
	margin-top: 0px;
	margin-top: 0px;
	line-height: 150%;
	font-size: 15px;
}

p {
	margin-top: 0px;
	line-height: 150%;
	font-size: 15px;
}


a {
	color: #2C2C2C;
}

a:hover {
	text-decoration: none;
}

.my_photo {
	width: 300px;
	float: right;
	margin-left: 30px;
}

.plot {
	width: 350px;
	float: right;
	margin-left: 30px;
	border: 3px solid #00A388;
}

.logo {
	width: 16px;
}


/* WRAPPER */

#wrapper {
	overflow: hidden;
	width: 950px;
	margin: 50px auto;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,.2);
}

/* HEADER */

#header {
	overflow: hidden;
	height: 100px;
	background: #00A388;
}

/* Name */

#name
{
	float: left;
	width: 500px;
	padding: 30px 0px 0px 50px;
}

/* Menu */

#menu
{
	float: right;
	width: 500px;
	padding: 50px 50px 0px 0px;
}

#menu ul
{
	float: right;
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li
{
	float: left;
}

#menu a
{
	display: block;
	margin-left: 1px;
	padding: 7px 0px 7px 30px;
	letter-spacing: 1px;
	text-decoration: none;
	font-size: 18px;
	font-weight: 300;
	color: #FFFFFF;
}

/* PAGE */

#page {
	overflow: hidden;
	width: 850px;
	margin: 0px 50px;
	padding: 20px 0px;
	border-bottom: 1px solid #DEDEDE;
}

/* SIDEBAR */

#sidebar {
	float: right;
	width: 250px;
	border: 3px solid #00A388;
	padding: 20px 20px 20px 20px;
	text-align: center;
	font-size: 15px;
}

/* Footer */

#footer {
	overflow: hidden;
	margin: 0px 50px;
	padding: 10px 0px 0px 0px;
}

#footer p {
	text-align: center;
	color: #00A388;
	font-size: 12px;
}

#footer a {
	color: #545454;
}